body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background-color: #f4f6f7;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0;
  color: #3176ba;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}

#searchbar {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  width: 300px;
  outline: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

#searchbar:focus {
  box-shadow: 0 4px 8px rgba(141, 143, 145, 0.5);
}

.search-container button {
  padding: 12px 24px;
  background-color: #0060c7;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #0073ef;
}


#map {
  height: 500px;
  width: 90%;
  max-width: 1000px;
  margin: 22px auto;
  border: 1px solid #dddcdc;
  border-radius: 10px;
} 

/* Responsive */
@media (max-width: 600px) {
     .search-container {
    flex-direction: column;
    gap: 8px;
    padding: 15px;
  }

  #searchbar {
    width: 90%;
  }

  .search-container button {
    width: 90%;
  }

  #map {
    height: 400px;
    width: 95%;
  }
}
